@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared style */
.display-flex {
    display: flex;
}
.hide{
    display: none;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

/* primary-color */
.primary-color {
    color: #FF900E;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    padding: 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 50px;
}

/* header style*/
.banner,
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
}

.main > section {
    margin-top: 80px;
}

/* navbar */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
}

/* banner */
.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}

.banner-image {
    width: 100%;
}

/* Our features Style */
.teams {
    align-items: center;

}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 70px;
    max-width: 530px;
}

.quick {
    font-weight: 400;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.section-description {
    font-weight: 300;
    font-size: 1rem;
}
/* Enjoying features */

.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.features{
    gap: 100px;
}
.feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    
}

/* Some fact */

.facts-container{
    max-width: 1440px;
    margin: 0 auto;
}
.fact-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 125px;
}

.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px;
    text-align: center;
    max-width: 240px;

}
.card-title{
    font-weight: 600;
    font-size: 2.8rem;
}
.card-description{
    font-weight: 600;
    font-size: 1.25rem;
}
.facts-container{
    max-width: 1440px;
    margin: 0 auto;
}
/* sponsored company */
.sponsore-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsore-company img{
    filter: grayscale(100%);
}

.sponsone-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }    
    .teams{
        flex-direction: column-reverse;
    }

    .team-img-container, 
    .fact-card-container,
    .sponsore-company {
        grid-template-columns: repeat(1, 1fr);

    }
    .sponsore-company{
        justify-items: center;
        gap: 50px;
    }
    .fact-card-container{
        justify-content: center;
        max-width: auto;
    }

    .our-features {
        margin-left: 10px;
        text-align: center;
    }
    .facts-container{
        margin-left: 20px;
        justify-content: center;
        gap: 24px;
    }
    
    .card{
        max-width: auto;
        justify-content: center;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column-reverse;
    }

    .our-features {
        margin: 50px auto;
        max-width: 50%;
        text-align: center;
    }
    .fact-card-container,.sponsore-company{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    
}