@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared style */
.display-flex {
    display: flex;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

/* primary-color */
.primary-color {
    color: #FF900E;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    padding: 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 50px;
}

/* header style*/
.banner,
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
}

.main>section {
    margin-top: 80px;
}

/* navbar */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
}

/* banner */
.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}

.banner-image {
    width: 100%;
}

/* Our features Style */
.teams {
    align-items: center;

}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 70px;
    max-width: 530px;
}

.quick {
    font-weight: 400;
}

.features-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.features-description {
    font-weight: 300;
    font-size: 1rem;
}

@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }
    
    .teams{
        flex-direction: column-reverse;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .our-features {
        margin-left: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column-reverse;
    }

    .our-features {
        margin: 50px auto;
        max-width: 50%;
        text-align: center;
    }
}